logs/
env/
.vagrant/
.project/
.pydevproject/
*.pyc
*.so
*.log
*.swp
build/
dist/
MANIFEST
*/env/
*/venv/
env/
log/
*.egg-info/
.idea/
.settings/
.pydevproject
dump.rdb
redis-stable/
*~
celerybeat-schedule.db
.project
.settings
.pydevproject
.DS_Store
